@use 'sass:color';


@mixin btn-styles($color) {
    &:hover {
        background-color: color.scale($color, $lightness: -15%);
        box-shadow: 0 5px 5px color.scale($color, $lightness: 15%);
    }

    &:active {
        box-shadow: 0 3px 3px color.scale($color, $lightness: 15%);
    }
}