@use '../abstracts/variables' as var;

header {
    background-color: var.$color-secondary-bg;
    padding: 2rem;

    .header-container {
        display: flex;
        justify-content: center;
        position: relative;
        max-width: 80%;
        margin: auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.header-logo {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 1rem;

    h1 {
        color: var.$color-secondary-txt;
        line-height: 2rem;
    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;

    .header-block40 {
        max-width: 40%;
    }

    .header-subtitle {
        font-size: 1.5rem;
    }

    .card-github {
        padding: 0 15px;
    }

    .header-img img {
        max-width: 100%;
    }
}


// ---------------------------------------------------
.header-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-text-h2 {
    display: flex;
    align-items: baseline;
    gap: 1em;

    h2 {
        font-size: 2.9rem;
        white-space: nowrap;
    }
}

// -------------------------------------------------

header {

    h2,
    p {
        color: #fff;
    }
}