@use '../abstracts/variables' as var;

header {
    // background-color: var.$color-secondary-bg;
    background-image: url('../src/ressources/background_header.svg');
    background-size: cover;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    align-items: center;

    .header-container {
        display: flex;
        position: relative;
        max-width: 80%;
        margin: auto;
    }
}

.header-logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    h1 {
        color: var.$color-primary-heading;
        line-height: 2rem;
    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: auto;

    .header-block40 {
        max-width: 40%;
    }

    .header-subtitle {
        font-size: 1.5rem;
    }

    .card-github {
        padding: 0 15px;
    }

    .header-text {
        animation: fromTheLeft 1.75s ease-out;
    }

    .header-img {
        animation: fromTheRight 1.75s ease-out;

        img {
            max-width: 100%;
        }
    }
}


// ---------------------------------------------------
.header-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-text-h2 {
    display: flex;
    align-items: baseline;
    gap: 1em;

    h2 {
        font-size: 2.9rem;
    }
}

// -------------------------------------------------

header {

    h2,
    p {
        color: #fff;
    }
}

@media screen and (max-width:var.$media-large) {
    .header-logo {
        top: 1.5rem;
        left: 1.5rem;
    }

    .header-text-h2 {
        flex-direction: column;
    }

    header .btn {
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (max-width:var.$media-medium) {
    .header-logo {
        top: 1rem;
        left: 1rem;
    }

    .header-content {
        justify-content: center;
        margin-top: 6rem;

        .header-block40 {
            max-width: 80%;
        }
    }

    .header-img {
        display: none;
    }

    .header-text {
        text-align: center;
    }

    header .btn,
    .header-text,
    .header-text-h2 {
        align-items: center;
    }

    .header-text-h2 iframe {
        margin-right: -1.5rem;
    }
}

@media screen and (max-width:var.$media-small) {
    .header-content {
        margin-top: 3rem;
    }

    header {
        h2 {
            white-space: wrap;
        }

        .header-subtitle {
            display: none;
        }

        p {
            font-size: 1.2rem;
        }
    }

}

@media screen and (max-height: 745px) {
    .header-logo {
        svg {
            width: 30px;
            height: auto;
        }

        h1 {
            font-size: 1.5rem;
        }
    }
}