body {
    font-family: sans-serif;
    background-color: #F9F9FD;
}

main {
    max-width: 1200px;
    margin: auto;
}

p {
    font-family: "SFUIText-Regular";
}

a {
    text-decoration: none;
    font-family: "SFUIText-SemiBold";
}