main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 800px;
    // width: 70%;
    margin: auto;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 3rem;
    }

    .btn {
        justify-content: center;
        margin-bottom: 4em;
    }

    h2 {
        font-size: 2rem;
    }

    article p {
        font-size: 1rem;
    }

    h2,
    article p {
        text-align: center;
    }
}

.main-QVusage {
    background-image: url('../src/ressources/bg_usage.png');
    background-size: cover;
    background-position: top;
    height: 160px;

    h2 {
        margin-bottom: 1rem;
    }
}

.QV-partners {
    h2 {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .QV-partners-logos {
        display: flex;
        justify-content: space-evenly;
    }
}








// ---------------------------------------------
main img {
    max-width: 100%;
}





.main-2md-blocks {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: justify;

    section {
        max-width: 40%;

        h3 {
            margin: 1.2em 0;
            font-size: 1.5rem;
        }

        a {
            color: #5D64D2;
            text-transform: uppercase;
        }
    }
}


main .main_md2 section p:nth-of-type(2) {
    margin-top: 1.2em;
}

main .main_md2 section div {
    margin-top: 1em;
}