/* ---------------------------------------- */
/* --------------- header --------------- */
/* --------------- main ---------------  */
/* --------------- footer ---------------*/
/* ----------Generic elements------------- */
/* --------------@media-------------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

main {
    font-family: Roboto;
}

header,
footer {
    font-family: Montserrat;
}

/* ------------------------------------------------------------------------------------ */

main,
main .content,
main .content>div,
nav,
.footer,
footer,
.ft_cols,
.planet_info,
ul,
.asteroid {
    display: flex;
}


/* ----------------------------------------------------------------------------------- */


header,
footer {
    background-color: #1B2430;
    color: white;
}

header nav,
main,
.footer {
    max-width: 1200px;
    margin: auto;
}

header {
    margin-bottom: 2em;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../src/ressources/planet_background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    height: 20rem;
    clip-path: circle(45% at 50% 50%);
    font-size: 2.5rem;
}

header nav {
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header nav a {
    color: #D9D9D9;
    padding: 1rem 0.75rem;
}

header nav a:active {
    background-color: #242f3f;
}

header nav .logo {
    width: 20px;
}

header nav ul {
    justify-content: space-between;
}


/* ----------------------------------------------------------------------------------- */


main {
    flex-direction: column;
    align-items: center;
}

main .content {
    align-items: center;
    gap: 4rem;
    padding-top: 2rem;
}

main .content:nth-of-type(2n) {
    flex-direction: row-reverse;
}

main .content>div {
    flex-direction: column;
}

main .content h2 {
    font-size: 2rem;
}

main .content h2,
main .content p {
    margin-bottom: 0.8rem;
}

main .content p {
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

main .planet_info {
    align-items: center;
    gap: 2rem;
}

main .planet_info p {
    letter-spacing: 3px;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 700;
    filter: drop-shadow(0 4px 4px #1B2430);
}

main .planet_info p:last-of-type {
    background-color: #1B2430;
}

main .type_t {
    background-color: #D6D5A8;
    color: #1B2430;
}

main .type_g {
    background: linear-gradient(#816797, #51557E);
}

main .type_g,
main .discovery_date {
    color: white;
}

main .asteroid {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
    margin: 5rem 0 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

main .asteroid::before,
main .asteroid::after {
    content: "";
    flex: 1;
    display: block;
    height: 3px;
    background: #000;
}

main .asteroid h2 {
    font-size: 1.9rem;
}


/* ----------------------------------------------------------------------------------- */


footer {
    justify-content: center;
    margin-top: 5rem;
}

footer a {
    color: #9F9F9F;
    text-align: center;
}

.footer {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

footer .ft_cols {
    justify-content: center;
    border-bottom: 2px solid white;
    margin-bottom: 0.5rem;
}

footer .ft_cols section {
    margin-bottom: 3rem;
    padding: 0 6rem;
    white-space: nowrap;
}

footer .ft_cols section:nth-of-type(2) {
    border-left: 2px solid #C4C4C4;
    border-right: 2px solid #C4C4C4;
}

/* expand clickable size */
footer .ft_cols li,
footer .ft_cols a {
    display: block;
    width: 100%;
}

footer h2 {
    text-align: center;
    padding-bottom: 1.7rem;
    font-family: Roboto;
    font-size: 1.88rem;
}

footer ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer .credits {
    text-align: center;
}


/* -------------------------------------------------------------- */


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}


/* ---------------------------------------------------------------------------- */


@media(hover: hover) {
    a:hover {
        text-decoration: underline;
        text-underline-offset: 0.2rem;
    }

    header nav a:hover {
        background-color: #242f3f;
    }
}

@media screen and (max-width: 1250px) {

    header nav,
    header nav ul {
        justify-content: center;
    }

    main {
        margin: 0 1.5em 0;
    }

    footer .ft_cols section {
        padding: 0 4rem;
    }

}

@media screen and (max-width: 950px) {

    header h1 {
        clip-path: none;
    }

    main .asteroid {
        margin-top: 2rem;
        margin-bottom: 0.8rem;
    }

    footer .ft_cols section {
        padding: 0 2rem;
    }

    footer .ft_cols section:nth-of-type(2) {
        border: none;
    }
}

@media screen and (max-width: 760px) {
    header h1 {
        height: 10rem;
    }

    header nav a {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    main .content,
    main .content:nth-of-type(2n) {
        flex-direction: column;
    }

    main .content {
        gap: 0.8rem;
    }

    main .content>div {
        gap: 0.5rem;
    }

    main .content h2 {
        text-align: center;
    }

    main .content>img {
        max-width: 50%;
        height: auto;
    }

    main .planet_info {
        justify-content: center;
    }

    footer .ft_cols section {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 650px) {
    header ul {
        display: none;
    }

    footer .ft_cols {
        flex-direction: column;
        gap: 1rem;
    }

    footer .ft_cols section {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 450px) {
    header h1 {
        font-size: 1.8rem;
    }

    main .content>img {
        max-width: 55%;
    }

    main .planet_info {
        gap: 1.5rem;
    }

    main .planet_info p {
        letter-spacing: normal;
    }

    main .content p {
        line-height: 1.5rem;
    }

    main .asteroid {
        gap: 0.6rem;
    }
}