@font-face {
    font-family: "HK Grotesk Bold";
    src: url(../src/fonts/HKGrotesk-Bold.otf) format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "HK Grotesk SemiBold";
    src: url(../src/fonts/HKGrotesk-SemiBold.otf) format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "SFUIText-Regular";
    src: url(../src/fonts/SFUIText-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "SFUIText-SemiBold";
    src: url(../src/fonts/SFUIText-Semibold.ttf) format("truetype");
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    display: flex;
    flex-direction: column;
    padding: 5% 25%;
    background-color: #151B2B;
}

header .header_logo {
    display: flex;
    gap: 1em;
}

header .header_logo img {
    width: 40px;
}

header .header_logo h1 {
    color: grey;
    line-height: 2em;
}

header h2 {
    font-size: 46px;
    color: white;
}

header p.header_subtitle {
    font-family: "HK Grotesk SemiBold", sans-serif;
    font-size: 25px;
}

header .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header .header_block40 {
    max-width: 40%;
}

header .header_text {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

header .header_text_h2 {
    display: flex;
    align-items: center;
    gap: 1em;
}

header .header_text_h2 h2 {
    white-space: nowrap;
}

header .header_img img {
    max-width: 100%;
}

header .card_github {
    padding: 0 15px;
}


/* ---------------------------------------------------- */


main {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 70%;
    margin: auto;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 3em;

}

main #main_bg {
    background-image: url('../src/ressources/bg_usage.png');
    background-size: cover;
    background-position: center;
    height: 160px;

}

main img {
    max-width: 100%;
    max-height: 100%;
}

main h2 {
    margin-bottom: 1em;
    font-size: 32px;
}

main h2,
main article p {
    text-align: center;
}

main article p {
    font-size: 16px;
}

main .card_socials {
    justify-content: center;
    margin-bottom: 4em;
}

main .QV_partners {
    margin-bottom: 6em;
}

main .QV_partners div {
    display: flex;
    justify-content: space-evenly;
}

main .main_md2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: justify;
}

main .main_md2 section {
    max-width: 40%;
}

main .main_md2 section h3 {
    margin: 1.2em 0;
    font-size: 24px;
}

main .main_md2 section p:nth-of-type(2) {
    margin-top: 1.2em;
}

main .main_md2 section div {
    margin-top: 1em;
}

main .main_md2 section a {
    color: #5D64D2;
    text-transform: uppercase;
    font-family: "SFUIText-SemiBold";
}


/* --------------------------------------------------- */


footer .ft_card {
    padding: 4em 12em;
}

footer .ft_content {
    display: flex;
    justify-content: space-between;
}

footer .ft_sm {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* ---------------------------- */
footer .ft_sm img {
    height: 28px;
    border-radius: 0.2em;
    border: 1px solid lightgray;
    padding: 5px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

footer .ft_sm div {
    padding-left: 5px;
}

footer .card_github {
    padding: 0 5px;
}

/* --------------------------------- */

footer .ft_background {
    background-color: #151B2B;
    max-width: 100%;
    height: 75px;
}

footer .ft_logo {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

footer .ft_legal ul {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    gap: 1em;

}

footer .ft_legal li {
    border-right: 1px solid grey;
    padding-right: 1em;
}

footer .ft_legal li:last-of-type {
    border: none;
    padding-right: 0;
}

footer h2,
footer h3 {
    font-family: "SFUIText-SemiBold";
}

footer p,
footer h3+ul a {
    color: grey;
}

footer h3 {
    margin-bottom: 1em;
}

footer li {
    margin-bottom: 0.5em;
}



.card_github p,
.card_socials,
h2,
h3 {
    white-space: nowrap;
}


h1,
h2,
h3 {
    font-family: "HK Grotesk Bold", sans-serif;
}

h2,
footer h3 {
    color: #454658;
}

a {
    text-decoration: none;
    cursor: pointer;
}

footer ul a:hover,
.main_more a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}


p,
li {
    font-family: "SFUIText-Regular", sans-serif;
    line-height: 150%;
}

ul {
    list-style-type: none;
}


.card_socials {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

.card_socials img {
    margin-right: 0.2em;
}

.card_socials a {
    display: flex;
    width: fit-content;
    align-items: center;
    color: white;
    padding: 12px 25px;
    border-radius: 0.3em;
    font-family: "SFUIText-SemiBold", sans-serif;
    font-size: 14px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card_socials a:first-of-type {
    background-color: #454658;
}

.card_socials a:nth-of-type(2) {
    background-color: #6578C0;
}

.card_socials a:hover {
    text-decoration: none;
    transform: scale(1.2);
}

main .card_socials a:first-of-type:hover {
    box-shadow: 0 5px 5px #585970;
}

.card_socials a:nth-of-type(2) {
    background-color: #6578C0;
}

main .card_socials a:nth-of-type(2):hover {
    box-shadow: 0 5px 5px #6c80cc;
}


.card_github {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    height: 28px;
    gap: 0.3em;
    border-radius: 0.2em;
    border: 1px solid lightgrey;
    width: fit-content;
}

.card_github p {
    color: black;
}

.card_github span {
    padding-left: 0.3em;
    border-left: 2px solid lightgrey;
}








@media screen and (max-width:2500px) {
    header {
        padding: 5% 10%;
    }
}


@media screen and (max-width:1250px) {
    header {
        padding: 5% 5%;
    }
}

@media screen and (max-width:1000px) {
    header .card_github {
        display: none;
    }

    header .card_socials {
        gap: 1em;
    }

    header .card_socials a {
        padding: 8px 15px;
    }
}

@media screen and (max-width:840px) {
    header {
        padding: 2.5% 2.5%;
    }

    header h1 {
        font-size: 1.5em;
    }

    header .header_img {
        display: none;
    }

    header .header_block40 {
        max-width: 80%;
    }

    header .header_text_h2,
    header .header_content,
    header .card_socials {
        justify-content: center;
        text-align: center;
    }

}

@media screen and (max-width:700px) {
    header .header_content {
        margin-top: 1%;
    }

    header .card_socials {
        flex-direction: column;
        align-items: center;
    }

    header .card_socials a {
        font-size: 10px;
    }

    header p.header_subtitle {
        font-size: 1.2em;
    }

    header .header_text_h2 h2 {
        font-size: 2em;
    }

    p {
        font-size: 0.9em;
        line-height: 125%;
    }
}

@media screen and (max-width:500px) {
    h1 {
        visibility: hidden;
    }
}

@media screen and (max-width:400px) {
    header p.header_subtitle {
        font-size: 1em;
    }

    header .header_text_h2 h2 {
        font-size: 1.5em;
    }

    header .card_socials a {
        font-size: 8px;
    }

    p {
        font-size: 0.8em;
        line-height: 110%;
    }
}