@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------------------------------------------------------------------- */


body {
    font-family: Montserrat, sans-serif;
}


/* --------------------------------------------------------------------------------------- */

main {
    max-width: 1040px;
}

/* ------------------Generic elements--------------------------- */

h1 {
    color: white;
    text-align: center;
    background-image: url('../src/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    display: flex;
    font-weight: 900;
    padding-left: 1rem;
}

h1,
article h2 {
    font-family: Cardo, sans-serif;
}

article h2 {
    font-size: 2.25rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #9F9F9F;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}


/* --------------------------------------------------------------------------------------- */


.logo img {
    width: 25px;
}



/* --------------------------------------------------------------------------------------- */
header nav {
    padding: 1.5rem 0.5rem;
}

header nav a {
    font-weight: 500;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.7rem;
}

header nav .logo {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header nav .active {
    color: black;
}

main {
    margin: 1.2rem 1rem;
}

main article {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1.2rem;
}

main article img {
    /* ------------------------------------------------------------- */
    max-height: 110px;
    object-fit: cover;
}

main .article_h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .article_h2 h2 {
    font-size: 1.1rem;
    line-height: 2.6rem;
}

main .article_h2 p {
    font-weight: 100;
    font-size: 0.7rem;
}

main .article_text {
    text-align: justify;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* --------------------------------------------------------------------------------------- */


@media screen and (min-width: 410px) {
    header nav {
        padding: 1.5rem 0.9rem;
    }
}