@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as var;

.btn {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;

    svg {
        margin-right: 0.4rem;
    }

    a {
        display: flex;
        width: fit-content;
        align-items: center;
        color: white;
        padding: 0.75rem 1.56rem;
        border-radius: 0.3rem;
        font-size: 0.9rem;
        transition: transform 0.3s, box-shadow 0.2s, background-color 0.5s;

        &:hover {
            text-decoration: none;
            transform: translateY(-2px);
            transform: scale(1.2);
        }

        &:active {
            transform: translateY(3px);
        }
    }
}

.btn-github {
    background-color: var.$color-github;
}

.btn-discord {
    background-color: var.$color-discord;
}

.btn-github {
    @include mixin.btn-styles(var.$color-github);
}

.btn-discord {
    @include mixin.btn-styles(var.$color-discord);
}

.btn-no-shadow:hover {
    box-shadow: none;
}


.btn-more {
    padding: 3px;
    border-radius: 2px;
    transition: transform 0.3s, box-shadow 0.2s;

    &:link,
    &:visited {
        display: inline-block;
        font-weight: var.$font-weight-bold;
        color: var.$color-regular-links;
        text-transform: uppercase;
    }

    &:hover {
        background-color: var.$color-regular-links;
        color: #fff;
        box-shadow: 0 1rem 2rem rgba(var.$color-secondary-bg, 0.2);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba(var.$color-secondary-bg, 0.2);
        transform: translateY(0);
    }
}