@use '../abstracts/variables' as var;

@font-face {
    font-family: 'SFUIText';
    src: url('../src/fonts/SFUIText-Bold.woff2') format('woff2'),
        url('../src/fonts/SFUIText-Bold.woff') format('woff'),
        url('../src/fonts/SFUIText-Bold.ttf') format('truetype');
    font-weight: var.$font-weight-bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../src/fonts/SFUIText-Semibold.woff2') format('woff2'),
        url('../src/fonts/SFUIText-Semibold.woff') format('woff'),
        url('../src/fonts/SFUIText-Semibold.ttf') format('truetype');
    font-weight: var.$font-weight-semibold;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../src/fonts/SFUIText-Regular.woff2') format('woff2'),
        url('../src/fonts/SFUIText-Regular.woff') format('woff'),
        url('../src/fonts/SFUIText-Regular.ttf') format('truetype');
    font-weight: var.$font-weight-regular;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../src/fonts/HankenGrotesk-ExtraBold.woff2') format('woff2'),
        url('../src/fonts/HankenGrotesk-ExtraBold.woff') format('woff'),
        url('../src/fonts/HankenGrotesk-ExtraBold.ttf') format('truetype');
    font-weight: var.$font-weight-extrabold;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../src/fonts/HankenGrotesk-Bold.woff2') format('woff2'),
        url('../src/fonts/HankenGrotesk-Bold.woff') format('woff'),
        url('../src/fonts/HankenGrotesk-Bold.ttf') format('truetype');
    font-weight: var.$font-weight-bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../src/fonts/HankenGrotesk-SemiBold.woff2') format('woff2'),
        url('../src/fonts/HankenGrotesk-SemiBold.woff') format('woff'),
        url('../src/fonts/HankenGrotesk-SemiBold.ttf') format('truetype');
    font-weight: var.$font-weight-semibold;
    font-style: normal;
}

@font-face {
    font-family: 'Hack-Regular';
    src: url('../src/fonts/Hack-Regular.woff2') format('woff2'),
        url('../src/fonts/Hack-Regular.woff') format('woff'),
        url('../src/fonts/Hack-Regular.ttf') format('truetype');
    font-weight: var.$font-weight-regular;
    font-style: normal;
}



html {
    font-size: 100%;
}

body {
    font-family: var.$font-default;
}

h1,
h2,
h3,
.header-subtitle {
    font-family: var.$font-heading;
}

h1,
h2 {
    font-weight: var.$font-weight-extrabold;
}

h3 {
    font-weight: var.$font-weight-bold;
}

a,
footer h2,
footer h3,
p {
    font-family: var.$font-primary;
}

p {
    font-weight: var.$font-weight-regular;
}

a,
footer h2,
footer h3,
footer p,
.header-subtitle {
    font-weight: var.$font-weight-semibold;
}

code {
    font-family: var.$font-code;
    font-size: 0.8rem;
    text-shadow: 1px 1px 3px #ccc;

    .code-indigo {
        color: #33369F;
    }

    .code-purple {
        color: #B160F0;
    }

    .code-gray {
        color: #A8A8C1;
    }

    .code-orange {
        color: #FF6240;
    }

    .code-aqua {
        color: #6DE0F6;
    }
}