$font-heading: 'Hanken Grotesk';
$font-primary: 'SFUIText-Regular';
$font-secondary: 'SFUIText-SemiBold';
$font-tertiary: 'SFUIText-Bold';
$font-code: 'Hack-Regular';
$font-default: 'sans-serif';
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;


@font-face {
    font-family: "SFUIText-Regular";
    src: url(../src/fonts/SFUIText-Regular.ttf) format("truetype");
    font-weight: $font-weight-regular;
}

@font-face {
    font-family: "SFUIText-SemiBold";
    src: url(../src/fonts/SFUIText-Semibold.ttf) format("truetype");
    font-weight: $font-weight-semibold;
}

@font-face {
    font-family: "SFUIText-Bold";
    src: url(../src/fonts/SFUIText-Bold.ttf) format("truetype");
    font-weight: $font-weight-bold;
}

@font-face {
    font-family: "Hack-Regular";
    src: url(../src/fonts/Hack-Regular.ttf) format("truetype");
    font-weight: $font-weight-regular;
}

html {
    font-size: 100%;
}

body {
    font-family: $font-default;
}

h1,
h2,
h3 {
    font-family: $font-heading;
}

h1,
h2 {
    font-weight: $font-weight-extrabold;
}

h3 {
    font-weight: $font-weight-bold;
}

p,
li {
    font-family: $font-primary;
}

a,
footer h2,
footer h3,
footer p {
    font-family: $font-secondary;
}

.header-content .header-subtitle {
    font-family: $font-heading;
    font-weight: $font-weight-semibold;
}

.block-more a {
    font-family: $font-tertiary;
}

code {
    font-family: $font-code;
    font-size: 0.8rem;
    // text-shadow: 1px 1px 3px #ccc;

    .code-indigo {
        color: #33369F;
    }

    .code-purple {
        color: #B160F0;
    }

    .code-gray {
        color: #A8A8C1;
    }

    .code-orange {
        color: #FF6240;
    }

    .code-aqua {
        color: #6DE0F6;
    }
}