body {
    background-color: #F9F9FD;
}

h2,
h3,
p {
    color: #454658;
}

p,
li {
    line-height: 150%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

main,
footer ul {
    a:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}


ul {
    list-style-type: none;
}


.card-github p,
.btn,
h2,
h3 {
    white-space: nowrap;
}