body {
    background-color: #F9F9FD;
    box-sizing: border-box;
}

h2,
h3,
p {
    color: #454658;
}

p,
li {
    line-height: 150%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.btn,
h2,
h3 {
    white-space: nowrap;
}

main,
.ft-legal {
    a:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}