@font-face {
    font-family: "SFUIText-Regular";
    src: url(../src/fonts/SFUIText-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "SFUIText-SemiBold";
    src: url(../src/fonts/SFUIText-Semibold.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Hack-Regular";
    src: url(../src/fonts/Hack-Regular.ttf) format("truetype");
    font-weight: 400;
}